* {
  margin: 0;
  padding: 0;
}
.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 100vh;
  background-color: black;
}

.heading {
  margin-bottom: 20px;
  text-align: center;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}

.enroll-now-btn {
  padding: 10px 20px;
  background-color: #2898ec;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
}
